.nav-link{
    font-size: 22px;
    font-weight: bold;
    color: yellow;
}

.nav-item a:hover {
    color:red;
  }
  .nav-item a:hover {
    color:red;
  }


.navbar-nav a:hover{
    background-color: orange;
} 

.nav-button a {
    background-color: orange;
    padding: 7px 5px;
    border-radius: 10px;
    border: 1px solid #ff0000;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    margin-left: 100px;
    margin-top: 5px;
    }

.nav-button a:hover {
    background-color: #ff0000;
    border: 1px solid red;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    }

.nav-button a:after {
    display: none !important;
    }